.App {
	/* text-align: center; */
	/* display: flex; */
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
body {
	/* display: flex; */
	font-family: "SpoqaHanSans";
	background-color: #e5e4e2;
}

div {
	display: flex;
	flex-direction: column;
	white-space: nowrap;
}

a {
	text-decoration: none;
}

input {
	border: none;
	background-color: transparent;
}

input:focus {
	outline: none;
}

input::placeholder {
	color: #aaaaaa;
}

span {
	white-space: nowrap;
}
